.registerCtn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-content:space-between;
    width: 500px;
    height: 200px;
}

input, button {
    margin: 5px 0;
}